*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo h2{

    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
}

.font-open {
  font-family: "Open Sans", sans-serif;

}
header{
    padding-top: 50px;
    background: url('../images/developer.png'), url('../images/header_bg.png'), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
}
nav{
    width: 70%;
    max-height: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 51px;
    text-decoration: none;
}
nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
} 

#banner{
    display: flex;
    justify-content: space-between;
    margin: 47px 38px 0px 230px;
    align-items: center;
}
.banner .banner-content{
    max-width: 585px;
}
.banner-content h2{

    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
.banner-content h1{

    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner-content p{

    font-size: 20px;
    font-weight: bold;
    font-weight: 300;
    color: #757575;
    line-height:30px ;
    margin-bottom: 30px;
}
#banner .banner-image img{

    max-width: 585px;
    vertical-align: middle;

}